:root {
  --primary-mid: #fafafa;
  --primary-main: #ededed;
  --primary-light: #ffffff;
  --secondary-main: #74c042;
  --secondary-light: #73cb43;
  --text-main: #3a3a3c;
  --text-mid: #585858;
  --text-light: #6b7070;
}
.white-nav {
  background-color: var(--primary-mid);
}
.half-nav {
  background-color: #ededed63;
}

.header-image {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

/*Team */
.team {
  padding: 40px 0px;
  width: 100%;
  background: linear-gradient(var(--primary-main), var(--primary-mid));
  align-items: center;
  gap: 50px;
}
.team h1 span {
  display: block;
}
.teacher {
  align-items: center;
  width: 50%;
  margin: 40px auto;
  justify-content: space-between;
}
.links-teacher {
  width: 200px;
  position: absolute;
  background-color: rgb(56, 54, 54, 0.5);
  z-index: 2;
  gap: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  height: 180px;
  opacity: 0;
}
.links-teacher i {
  color: white;
  font-size: 0px;
  transition: 0.5s;
}
.mentor:hover .links-teacher {
  opacity: 1;
}
.mentor:hover .links-teacher i {
  font-size: 30px;
}
.mentor {
  align-items: center;
  gap: 5px;
}
.mentor img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}
.team h2 {
  text-align: center;
  font-size: 40px;
  line-height: 130%;
  background-image: linear-gradient(var(--text-main), var(--text-light));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: -1px;
}
.mentor h4 {
  color: var(--secondary-main);
  line-height: 80%;
  font-size: 20px;
}
.mentor h5 {
  color: var(--text-main);
  line-height: 80%;
  font-size: 16px;
}

.leader {
  width: 60%;
  margin: 0px auto;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.heads {
  width: 60%;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.leaders {
  width: 180px;
  align-items: center;
  gap: 5px;
}
.leaders img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.leaders:hover .links-card {
  opacity: 1;
}
.links-card i {
  color: white;
  font-size: 0px;
  transition: 0.5s;
}
.leaders:hover .links-card i {
  font-size: 25px;
}
.links-card {
  gap: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 180px;
  opacity: 0;
  background-color: rgb(56, 54, 54, 0.5);
  transition: 0.5s;
  cursor: pointer;
  height: 180px;
}

.leaders h5 {
  color: var(--text-main);
  font-size: 16px;
  line-height: 100%;
}
.leaders h4 {
  color: var(--secondary-main);
  font-size: 16px;
  line-height: 100%;
}
.department-team {
  width: 180px;
  align-items: center;
  gap: 5px;
}
.department-team img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.department-team h5 {
  color: var(--text-main);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}
.department-team h4 {
  color: var(--secondary-main);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.department-links-card {
  gap: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: rgb(56, 54, 54, 0.5);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.department-links-card i {
  color: white;
  font-size: 0px;
  transition: 0.5s;
}
.department-team:hover .department-links-card {
  opacity: 1;
}
.department-team:hover i {
  font-size: 25px;
}
.member-swiper-wrapper {
  margin-left: -1px;
}
.member {
  width: 200px;
  height: 210px;
  align-items: center;
  justify-content: space-between;
}
.member img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.member h5 {
  font-size: 16px;
  color: var(--text-main);
}

/* Testonomial */
.testonomial {
  padding: 50px 0px;
  align-items: center;
  gap: 25px;
  background: linear-gradient(var(--primary-mid), var(--primary-main));
}
.testonomial h2 {
  font-size: 50px;
  color: var(--secondary-main);
  letter-spacing: -2px;
  line-height: 80%;
}
.testimonial-swiper {
  width: 80%;
}
.testimonial-swiper .swiper-wrapper {
  margin-left: calc(20%);
}
.single-testimonial {
  width: 60%;
  align-items: center;
  gap: 10px;
}
.single-testimonial img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}
.testonomial h3 {
  font-size: 25px;
  color: var(--text-main);
  line-height: 100%;
}
.single-testimonial h4 {
  font-size: 18px;
  color: var(--text-light);
  line-height: 100%;
}
.single-testimonial P {
  line-height: 120%;
  font-size: 16px;
  text-align: center;
  color: var(--text-light);
}
.testimonial-icons {
  gap: 10px;
}
.testimonial-icons i {
  color: var(--text-light);
  font-size: 25px;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.testimonial-icons i:hover {
  color: var(--text-main);
}

.event-page {
  align-items: center;
  width: 70%;
  padding: 20px 15%;
  background: linear-gradient(var(--primary-mid), var(--primary-main));
  gap:20px
}
.fixed {
  background-color: var(--primary-mid) !important;
  position: sticky;
  top: 0px;
}
.event-page h2 {
  font-size: 40px;
  color: var(--text-mid);
}
.event-page p {
  width: 100%;
  color: var(--text-light);
}
.event-page iframe {
  width: 100%;
  height: 400px;
}
.event-content {
  gap: 30px;
  align-items: center;
  padding: 30px 0px;
}
.profile-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.header-event-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.event-page-icons {
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.event-page-icons p {
  text-align: center;
  font-size: 14px;
}
.event-image-gallery {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.event-image-gallery img {
  width: 450px;
  object-fit: cover;
  height: 300px;
}

/* Error Page */
.error-page {
  padding-top: 50px;
  width: 100%;
  align-items: center;
  justify-items: center;
  background: linear-gradient(var(--primary-mid), var(--primary-light));
  gap: 10px;
}
.error-page img {
  width: 300px;
}
.error-page h3 {
  color: var(--text-main);
  font-size: 30px;
  line-height: 100%;
}
.error-page h5 {
  color: var(--text-main);
  font-size: 18px;
  line-height: 100%;
}
.error-page button {
  background-color: var(--text-mid);
  border: none;
  cursor: pointer;
  color: var(--primary-mid);
  transition: 0.5s;
  font-size: 16px;
  padding: 10px 50px;
}
.error-page button:hover {
  color: var(--primary-light);
  background-color: var(--text-main);
} 
